html,
body {
    margin: 0;
    padding: 0;
}

/* Styles */

.main-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95%;
}

.column-100 {
    position: relative;
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-25 {
    width: 25%;

}

.col-25-desk {
    position: relative;
    display: none;
}

.col-50-tablet {
    position: relative;
    display: none;
}

.col-100-mobile {
    display: flex;
    position: relative;
    width: 100%;
}

/* buttons */

.btn--size-lg {
    width: 150px;
    height: 60px;
    margin: 20px auto 20px auto;
    border-style: none;
    border-radius: 5px;
}

.btn--size-rg {
    width: 100px;
    height: 50px;
    margin: 0 auto 20px auto;
    border-style: none;
    border-radius: 5px;
}

.button-color-red {
    background-color: #f5051e;
}

.button-color-red-opaque {
    background-color: #fa040266;
}

/* Text and Colors */

.center_text {
    text-align: center;
}

.lg-text {
    font-size: 2.2em;
}

.coiny {
    font-family: 'Coiny', cursive;
}

.fugaz {
    font-family: 'Fugaz One', cursive;
}

.white_text {
    color: white;
}

.white_text:hover {
    color: white;
}

.text-black {
    color: black;
}

.banner-text {
    font-size: 1.5em;
    margin: 5px auto 0 auto;
}

/* Navbar*/

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0 10px 0;
}

.logo {
    height: 50px;
    width: 146px;
    margin-left: 25px;
}

.nav-bar {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.nav-color {
    background-color: #fff;
}

.nav_items {
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    cursor: pointer;
    display: none;
}

.nav_items a {
    font-size: x-large;
    color: #f5051e;
}

.nav_items a:hover {
    background-color: #f5051e;
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-item {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

/*Burger End*/

.burger-box {
    display: block;
    position: absolute;
    margin-right: 30px;
    top: 10px;
    right: 0;
    height: 100%;
}

.burger-shower {
    display: none;
}

.burger-shower:checked~.burger-menu {
    display: flex;
    text-align: center;
    padding-top: 0;
    padding-right: 100px;
    padding-left: 500px;
}

.hamburger {
    position: relative;
    display: block;
    transform: translateY(-15%);
    width: 50px;
    height: 50px;
    line-height: .1em;
    padding: .4em .4em;
    cursor: pointer;
}

.burger-li {
    list-style-type: none;
    margin-right: 5px;
}

.burger-li-last {
    list-style-type: none;
}

.burger-li a {
    color: #f5051e;
    padding: 0.1em;
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.burger-li-last a {
    color: #f5051e;
    padding: 0.1em;
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.burger-li a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}

.burger-li-last a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.hamburger hr {
    color: #ddd;
    height: .2em;
    border: 0;
    background: #f5051e;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.burger-menu {
    position: absolute;
    right: -100px;
    padding-right: 100px;
    padding-left: 400px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    background-color: #fff;
    transform: translateY(-7px);
}

/*Burger End*/

/* navbar end */

/* Home Callout */

.callout {
    display: flex;
    height: 100vh;
    align-items: center;
}

#myVideo {
    position: absolute;
    display: flex;
    object-fit: cover;
    padding-top: 28px;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.callout_message {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: #f5051e;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.filler_left {
    position: absolute;
    display: none;
    left: 0;
    background-color: #060406;
    width: 10vw;
    height: 90vh;
}

.filler_right {
    position: absolute;
    display: none;
    right: 0;
    background-color: #060406;
    width: 10vw;
    height: 90vh;
}

.filler_top {
    position: absolute;
    display: block;
    top: 50px;
    background-color: #f5051e;
    width: 100vw;
    height: 5vh;
}

.filler_bottom {
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #f5051e;
    width: 100vw;
    height: 100px;
}

.disable_underscore:hover {
    text-decoration: none;
}

/* Home Callout End */

/* Band Main */

.bg-image1 {
    background: url(/assets/images-video-music/images/spiral_bg_red.jpg) center / cover no-repeat;
}

.band-section {
    display: inline;
    position: relative;
    overflow: scroll;
    align-items: center;
}

.band-header {
    position: relative;
    top: 70px;
}

.band-info {
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: center;
}

.band-info p {
    text-align: center;
}

.band-photo1 {
    float: right;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
}

.band-members {
    margin: 0px auto;
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.member {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.member h2 {
    margin-bottom: 0;
}

.member-photo-md {
    float: left;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-pt {
    float: right;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-mn {
    float: left;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-dj {
    float: right;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

/*BandMain End

/*Music*/

.music-section {
    width: inherit;
}

.music-header {
    position: relative;
    top: 70px;
}

.band-photo2 {
    border-radius: 40%;
    height: 300px;
}

.song-section {
    margin: 100px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: center;
}
.albulm-photo{
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}
.song-info {
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: center;
}

.song-info p {
    text-align: center;
}

.song {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.song h2 {
    margin-bottom: 0;
}

/*music end*/

/*footer*/

.footer_container {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}

.createdby {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: smaller;
}

.social_links {
    margin: 0 auto;
    text-align: center;
}

.social {
    color: #f5051e;
    text-decoration: none;
    font-size: smaller;
}

.social:hover {
    color: #f5051ead;
    text-decoration: none;
}

.copyright {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: smaller;
}

/*footer end*/

/* Modal */

.modal {
    top: 33%;
}

/* Media Queries */

@media (min-width: 375px) {
    .burger-li a {
        font-size: larger;
    }
    .burger-li-last a {
        font-size: larger;
    }
}

@media (min-width: 457px) {
    .createdby {
        font-size: 1em;
    }
    .social {
        font-size: 30px;
    }
    .copyright {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .col-50-tablet {
        width: 50%;
        display: flex;
    }
    .nav_items {
        display: block;
    }
    .burger-box {
        display: none;
    }

    .callout_message {
        width: auto;
    }
    .banner-text {
        font-size: 2em;
    }
    .band-header {
        display: block;
        align-items: center;
    }
    .member h2 {
        margin-bottom: 0px;
    }
    .member p {
        margin: 0;
    }
}

@media (min-width: 991px) {
    .col-25-desk {
        width: 25%;
        display: flex;
    }
    .filler_left {
        display: block;
    }

    .filler_right {
        display: block;
    }
    .banner-text {
        font-size: 3em;
    }
    .band-info p {
        font-size: 1.2em;
    }
}
