html,
body {
    margin: 0;
    padding: 0;
}

/* Styles */

.column-100 {
    width: 100%;
}

.col-25 {
    width: 25%;
}

.center_text {
    text-align: center;
}

/* buttons */

.btn--size-lg {
    width: 150px;
    height: 100px;
    margin: 20px auto 20px auto;
    border-style: none;
    border-radius: 5px;
}

.btn--size-rg {
    width: 100px;
    height: 50px;
    margin: 0 auto 20px auto;
    border-style: none;
    border-radius: 5px;
}

.button-color-red {
    background-color: #fa040266;
}

/* Colors */

.white_text {
    color: white;
}

.white_text:hover {
    color: white;
}

.text-black {
    color: black;
}

/* Navbar*/

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0 10px 0;
}

.logo {
    height: 50px;
    width: 146px;
    margin-left: 25px;
}

.nav-bar {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.nav-color {
    background-color: #fff;
}

.nav_items {
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    cursor: pointer;
    display: none;
}

.nav_items a {
    font-size: x-large;
    color: #f5051e;
}

.nav_items a:hover {
    background-color: #f5051e;
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-item {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

/*Burger End*/

.burger-box {
    display: block;
    position: absolute;
    margin-right: 30px;
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
}

.burger-shower {
    display: none;
}

.burger-shower:checked~.burger-menu {
    display: flex;
    text-align: center;
    padding-top: 0;
    padding-right: 100px;
    padding-left: 500px;
}

.hamburger {
    position: relative;
    display: block;
    transform: translateY(2%);
    width: 50px;
    height: 50px;
    line-height: .1em;
    padding: .4em .4em;
    cursor: pointer;
}

.burger-li {
    list-style-type: none;
    margin-right: 5px;
}

.burger-li-last {
    list-style-type: none;
}

.burger-li a {
    color: #f5051e;
    padding: 0.1em;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.burger-li-last a {
    color: #f5051e;
    padding: 0.1em;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.burger-li a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}

.burger-li-last a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.hamburger hr {
    color: #ddd;
    height: .2em;
    border: 0;
    background: #f5051e;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.burger-menu {
    position: absolute;
    right: -100px;
    padding-right: 100px;
    padding-left: 400px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    background-color: #fff;
    transform: translateY(-7px);
}

/*Burger End*/

/* navbar end */

/* Callout */

.callout {
    display: flex;
    height: 100vh;
    align-items: center;
}

#myVideo {
    position: absolute;
    display: flex;
    object-fit: cover;
    padding-top: 28px;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.callout_message {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: #f5051e;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Coiny', cursive;
}

.filler_top {
    position: absolute;
    display: block;
    top: 50px;
    background-color: #f5051e;
    width: 100vw;
    height: 5vh;
}

.filler_left {
    position: absolute;
    display: block;
    left: 0;
    background-color: #f5051e;
    width: 10vw;
    height: 90vh;

}

.filler_right {
    position: absolute;
    display: block;
    right: 0;
    background-color: #f5051e;
    width: 10vw;
    height: 90vh;

}

.filler_bottom {
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #f5051e;
    width: 100vw;
    height: 100px;

}

.disable_underscore:hover {
    text-decoration: none;
}

/* Callout End */

/*footer*/

.footer_container {
    display: inline-flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #fff;
    margin: 10px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.createdby {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', cursive;
}

.social_links {
    margin: 0 auto;
    text-align: center;
}

.social {
    font-size: 30px;
    color: #f5051e;
}

.copyright {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', cursive;
}

/*footer end*/

/* Modal */

.modal {
    top: 33%;
}

/* Media Queries */

@media (min-width: 768px) {

    .nav_items {
        display: block;
    }
    .burger-box {
        display: none;
    }

    .callout_message {
        width: auto;
    }
}
