html,
body {
    margin: 0;
    padding: 0;
}

/* Styles */

.flex {
    display: flex;
}

.main-container {
    display: flex;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95%;
}

.column-100 {
    position: relative;
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;

}

.col-25-desk {
    position: relative;
    display: none;
}

.col-50-tablet {
    position: relative;
    display: none;
}

.col-100-mobile {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

/* buttons */

.btn--size-lg {
    width: 150px;
    height: 100px;
    margin: 20px auto 20px auto;
    border-style: none;
    border-radius: 5px;
}
.btn--size-md{
    width: 150px;
    height: 70px;
    margin: 20px auto 20px auto;
    border-style: none;
    border-radius: 5px;
}
.btn--size-rg {
    width: 100px;
    height: 50px;
    margin: 0 auto 20px auto;
    border-style: none;
    border-radius: 5px;
}

.button-color-red {
    background-color: #f5051e;
}

.button-color-red-opaque {
    background-color: #fa040266;
}

.button-color-white {
    background-color: #fff;
}

/* Text and Colors */

.center_text {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.lg-text {
    font-size: 2.2em;
}

.font-20 {
    font-size: 20px;
}

.coiny {
    font-family: 'Coiny', sans-serif;
}

.fugaz {
    font-family: 'Fugaz One', sans-serif;
}

.white_text {
    color: white;
}

.red_text {
    color: #f5051e;
}

.white_text:hover {
    color: white;
}

.text-black {
    color: black;
}

.banner-text {
    font-size: 1.5em;
    margin: 5px auto 0 auto;
}

/* Navbar*/

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0 10px 0;
}

.logo {
    height: 50px;
    width: 146px;
    margin-left: 25px;
}

.nav-bar {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.nav-color {
    background-color: #fff;
}

.nav_items {
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    cursor: pointer;
    display: none;
}

.nav_items a {
    font-size: x-large;
    color: #f5051e;
}

.nav_items a:hover {
    background-color: #f5051e;
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-item {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
}

/*Burger End*/

.burger-box {
    display: block;
    position: absolute;
    margin-right: 30px;
    top: 10px;
    right: 0;
    height: 100%;
}

.burger-shower {
    display: none;
}

.burger-shower:checked~.burger-menu {
    display: flex;
    text-align: center;
    padding-top: 0;
    padding-right: 100px;
    padding-left: 500px;
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50px;
    line-height: .1em;
    padding: .4em .4em;
    cursor: pointer;
}

.burger-li {
    list-style-type: none;
    margin-right: 5px;
}

.burger-li-last {
    list-style-type: none;
}

.burger-li a {
    color: #f5051e;
    padding: 0.1em;
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
}

.burger-li-last a {
    color: #f5051e;
    padding: 0.1em;
    font-size: smaller;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
}

.burger-li a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}

.burger-li-last a:hover {
    background-color: #f5051e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.hamburger span {
    color: #f5051e;
    border-bottom: 0.2em solid #f5051e;
    margin-bottom: 0.5em;
}

.burger-menu {
    position: absolute;
    right: -100px;
    padding-right: 100px;
    padding-left: 400px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    background-color: #fff;
    transform: translateY(-7px);
}

/*Burger End*/

/* navbar end */

/* Home Callout */

.callout {
    display: flex;
    height: 100vh;
    align-items: center;
}

#myVideo {
    position: absolute;
    display: flex;
    object-fit: cover;
    padding-top: 28px;
    right: 0;
    width: 100%;
    height: 100%;
}

.callout_message {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: #f5051e;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Coiny', sans-serif;
}

.filler_left {
    position: absolute;
    display: none;
    left: 0;
    background-color: #060406;
    width: 10vw;
    height: 90vh;
}

.filler_right {
    position: absolute;
    display: none;
    right: 0;
    background-color: #060406;
    width: 10vw;
    height: 90vh;
}

.filler_top {
    position: absolute;
    display: block;
    top: 50px;
    background-color: #f5051e;
    width: 100vw;
    height: 5vh;
}

.filler_bottom {
    position: fixed;
    display: block;
    bottom: 0px;
    background-color: #f5051e;
    width: 100vw;
    height: 100px;
}

.disable_underscore:hover {
    text-decoration: none;
}

/* Home Callout End */

/* Band Main */

.bg-image1 {
    background: url(../images-video-music/images/spiral_bg_red.jpg) center / cover no-repeat;
}

.band-section {
    display: inline;
    position: relative;
    align-items: center;
}

.band-header {
    position: relative;
    top: 70px;
    margin: 0 auto 10px auto;
}

.band-info {
    position: relative;
    top: 70px;
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: center;
}

.band-info p {
    text-align: center;
}

.band-photo1 {
    float: right;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
}

.band-members {
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.member {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.member h2 {
    margin-bottom: 10px;
}

.member-photo-md {
    float: left;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-pt {
    float: right;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-mn {
    float: left;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

.member-photo-dj {
    float: right;
    height: 186px;
    padding: 5px;
    border-radius: 50%;
}

/*BandMain End

/*Music*/

.music-section {
    width: inherit;
}

.music-header {
    position: relative;
    top: 70px;
    padding-bottom: 50px;
}

.band-photo2 {
    border-radius: 40%;
    height: 170px;
}

.song-section {
    margin: 100px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.song h2 {
    margin-bottom: 0;
}

.song-info {
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: center;
}

.song-info p {
    text-align: center;
}

.albulm-photo {
    height: 200px;
    padding: 5px;
    border-radius: 10%;
}

.song p audio {
    padding-top: 20px;
}

/*music end*/

/* Media */

.media-section {
    margin: 70px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: inherit;
}

.media-header {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.band-video1 {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.photo-section {
    margin: 0px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.media h2 {
    margin-bottom: 0;
}

.media-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    margin: 0 auto;
    height: auto;
}

.video {
    width: 500px;
    margin: 0 auto;
}

.media-info p {
    text-align: center;
}

.albulm-photo {
    height: 200px;
    padding: 5px;
    border-radius: 10%;
}

.media p image {
    padding-top: 20px;
    width: 100%;
}

/* Media End */

/*Gigs*/

.gig-section {
    margin: 70px auto 10px auto;
    flex-wrap: wrap;
    width: inherit;
}

.gig-tour-section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.gig-header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    align-items: center;
}

br {
    display: none;
}

.tour-info {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
    justify-content: center;
}

.tour-header {
    width: 80%;
}

.tour-text {
    font-weight: 600;
}

.tour-header p.coiny {
    margin-bottom: 0;
    font-size: 1.2em;
}

.tour {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.tour-dates {
    border-radius: 5px;
    margin: 0 auto;
}

.tour-dates {
    border-collapse: collapse;
    width: auto;
    height: auto;
}

.tour-dates th,
.tour-dates td {
    border: 1px solid #fff;
    padding: 8px;
}

.tour-dates tr.table-text:hover {
    background-color: #ffffff52;
}

.table-header {
    font-size: 1em;
}

.table-text {
    font-size: 0.8em;
}

.tour-btn:hover {
    background-color: #f9fa0296;
    color: #fff;
}

.tour-btn a {
    text-decoration: none;
}

.tour-btn a:hover {
    text-decoration: none;
    color: #fff;
}

.booking-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    justify-content: center;
}

.bookings-header {
    width: 80%;
    margin: 0 auto;
}

.bookings-header p.coiny {
    margin-bottom: 0;
    font-size: 1.2em;
}

.bookings-text {
    font-weight: 600;
}

.band-photo3 {
    width: 220px;
    border-radius: 5px;
}

.bookings {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wedding-quote {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.xmas-quote {
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.couple {
    width: 100px;
    border-radius: 50%;
}

.picture-frame {
    width: 100px;
    height: 108px;
    border-radius: 50%;
    background-color: #fff;
}

.girl {
    width: 100px;
    border-radius: 50%;
}

.book-btn:hover {
    background-color: #f9fa0296;
    color: #fff;
}

.book-btn a {
    text-decoration: none;
}

.book-btn a:hover {
    text-decoration: none;
    color: #fff;
}


/*Gigs End*/

/*footer*/

.footer_container {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 2px;
    align-items: center;
}

.footer {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
}

.createdby {
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', sans-serif;
    font-size: smaller;
}

.social_links {
    margin: 0 auto;
    text-align: center;
}

.social {
    color: #f5051e;
    text-decoration: none;
    font-size: smaller;
}

.social:hover {
    color: #f5051ead;
    text-decoration: none;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', sans-serif;
    font-size: smaller;
}

.CSS-val {
    border: 0;
    width: 28px;
    height: 10px;
}

/*footer end*/

/* Modal */

.modal {
    top: 33%;
}

#BookingsModal {
    top: 20%;
}

/* Media Queries */

@media (min-width: 375px) {
    .burger-li a {
        font-size: larger;
    }
    .burger-li-last a {
        font-size: larger;
    }
    .table-header {
        font-size: 1.2em;
    }
    .table-text {
        font-size: 1em;
    }
    #news-btn {
        font-size: 2em;
    }
}

@media (min-width: 425px) {
    .table-header {
        font-size: 1.3em;
    }
    .table-text {
        font-size: 1.1em;
    }
    .CSS-val {
        width: 42px;
        height: 15px;
    }
}

@media (min-width: 457px) {
    .createdby {
        font-size: 1em;
    }
    .social {
        font-size: 30px;
    }
    .copyright p {
        font-size: 1em;
    }

    .band-video1 {
        height: 300px;
        width: 400px;
    }

}

@media (min-width: 550px) {
    .band-photo2 {
        height: 300px;
    }
    .table-header {
        font-size: 1.7em;
    }
    .table-text {
        font-size: 1.4em;
    }
}

@media (min-width: 769px) {
    .col-50-tablet {
        width: 50%;
        display: flex;
    }
    .nav_items {
        display: block;
    }
    .burger-box {
        display: none;
    }
    .filler_left {
        display: block;
    }

    .filler_right {
        display: block;
    }
    .callout_message {
        width: auto;
    }
    .banner-text {
        font-size: 2em;
    }

    #news-btn.btn--size-lg {
        height: 60px;
    }
    .band-header {
        display: block;
        align-items: center;
    }
    .member .coiny {
        margin-bottom: 0px;
    }
    .member p {
        margin: 0;
    }
    br {
        display: block;
    }
    .tour-header p.coiny {
        font-size: 1.5em;
    }

    .bookings-header p.coiny {
        font-size: 1.5em;
    }
    .table-header {
        font-size: 1.2em;
    }
    .table-text {
        font-size: 1em;
    }
    .tour-btn {
        transform: translateY(10px);
    }
    .CSS-val {
        width: 68px;
        height: 24px;
    }
}

@media (min-width: 992px) {
    .col-25-desk {
        width: 25%;
        display: flex;
    }

    .banner-text {
        font-size: 3em;
    }
    .band-info p {
        font-size: 1.2em;
    }
    .tour-header p.coiny {
        font-size: 2em;
    }
    .bookings-header p.coiny {
        font-size: 2em;
    }
    .CSS-val {
        width: 88px;
        height: 31px;
    }
}

@media (min-width: 1024px) {
    .table-header {
        font-size: 1.6em;
    }
    .table-text {
        font-size: 1.3em;
    }
    .tour-btn {
        transform: translateY(0px);
    }
}

@media (min-width: 992px) and (max-width: 1350px) {
    .albulm-photo {
        width: 200px;

    }
}
